body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=text]:focus {
  border: 3px solid #555;
}
input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #212529;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius:40px

}
button {
  width: 18%;
  box-sizing: border-box;
  border: 3px solid #212529;
  border-radius:40px 
}
.h3-left-text {
  text-align: left;
}
.flights-details-text{
  font-size: 20px;
  font-weight: bold;
}
.link-right-text {
  text-align: right;
}
.button-link {border-radius: 20px;}
